[submodule "parquet-testing"]
	path = parquet-testing
	url = https://github.com/apache/parquet-testing.git
[submodule "testing"]
	path = testing
	url = https://github.com/apache/arrow-testing
[submodule "datafusion-testing"]
	path = datafusion-testing
	url = https://github.com/apache/datafusion-testing.git
	branch = main
[submodule "datafusion/substrait/substrait-java"]
	path = datafusion/sqllogictest/substrait-java
	url = https://github.com/substrait-io/substrait-java
